.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 700px;
  background-color: #dfecff;
}

.welcome-section > span {
  margin-bottom: 40px;
}

.features-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #eaf8ff;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 20px;
}

.feature-text {
  text-align: left;
  width: 50%;
  margin: 100px;
  border: 1px solid blue;
}

.feature-image {
  text-align: left;
  width: 20%;
  height: 300px;
  margin: 100px;
  border: 1px solid purple;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #eaf8ff;
}
