.left-drawer {
  display: flex;
  flex-direction: row;
}

.drawer-list-icons {
  display: flex;
  flex-direction: column;
}
/* 
.main-list-icons {
  display: flex;
  height: 22vh;
  border: 1px solid blue;
}

.secondary-list-icons {
  display: flex;
  align-items: flex-end;
  height: 70vh;
  border: 1px solid purple;
} */

.forum-icon:hover {
  color: #3a4cb1;
  transition: color 1s;
}

.guide-icon:hover {
  color: #3a4cb1;
  transition: color 1s;
}

.trade-icon:hover {
  color: #3a4cb1;
  transition: color 1s;
}

.wallet-icon:hover {
  color: #3a4cb1;
  transition: color 1s;
}

.settings-icon:hover {
  color: #3a4cb1;
  transition: color 1s;
}

.drawer-list-tags {
  width: 40px;
}

.main-list-tags {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 82px;
}

.secondary-list-tags {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 116px;
}

.forum-tag {
  width: 55px;
  border: 1px solid #3a4cb1;
  border-radius: 4px;
  background-color: #3a4cb1;
  color: #ffffff;
  text-align: center;
  position: absolute;
}

.guide-tag {
  width: 55px;
  display: block;
  border: 1px solid #3a4cb1;
  border-radius: 4px;
  background-color: #3a4cb1;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 46px;
}

.trade-tag {
  width: 55px;
  display: block;
  border: 1px solid #3a4cb1;
  border-radius: 4px;
  background-color: #3a4cb1;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 89px;
}

.wallet-tag {
  width: 55px;
  display: block;
  border: 1px solid #3a4cb1;
  border-radius: 4px;
  background-color: #3a4cb1;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 135px;
}

.settings-tag {
  width: 65px;
  display: block;
  border: 1px solid #3a4cb1;
  border-radius: 4px;
  background-color: #3a4cb1;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 162px;
}
