* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.main-logo {
  width: 573px;
  height: 273px;
  display: flex;
  margin: 100px auto 50px;
}

.button-row {
  width: 30%;
  height: 100px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.padding {
  margin: 10px;
}

.login {
  height: 80px;
}

.signup {
  height: 80px;
}
