* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.main-logo {
  width: 382px;
  height: 182px;
  display: flex;
  margin: 80px auto 60px;
}

.form-row {
  width: 30%;
  padding: 30px;
  border: 1px solid dimgray;
  border-radius: 10px;
  background-color: white;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.form-row > .username {
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-row > .password {
  margin-bottom: 30px;
}

/* .form-row > .login {
  margin-bottom: 10px;
} */
