* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.main-logo {
  width: 382px;
  height: 182px;
  display: flex;
  margin: 80px auto 60px;
}

.google-signup {
  width: 30%;
  height: 50px;
  padding: 20px;
  border: 1px solid dimgray;
  border-radius: 10px;
  margin: 0px auto 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.google-signup:hover {
  background-color: #fcfcfc;
}

.google-signup > img {
  width: 24px;
  height: 24px;
}

.form-row {
  width: 30%;
  padding: 30px;
  border: 1px solid dimgray;
  border-radius: 10px;
  background-color: white;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.form-row > .displayname {
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-row > .username {
  margin-bottom: 30px;
}

.form-row > .email {
  margin-bottom: 30px;
}

.form-row > .password {
  margin-bottom: 30px;
}

/* .form-row > .signup {
  margin-bottom: 30px;
} */

.form-row > p {
  color: grey;
  margin: 20px auto 10px;
}

.form-row > p > a:link {
  color: #0080ff;
  text-decoration: none;
}

.form-row > p > a:hover {
  color: #2eb9ff;
  text-decoration: underline;
}
